import os
# API Keys
OPENAI_API_KEY = "sk-something"
os.environ["OPENAI_API_KEY"] = OPENAI_API_KEY
os.environ["SERPER_API_KEY"] = "0e-something"

WEAVIATE_URL = "https://prompt-cluster-something.weaviate.network"
PINECONE_API_KEY = "YOUR_API_KEY"
PINECONE_ENV = "something"

#Files
BASE_DIR = "/Users/something/Documents/Projects/LLMPromptSelector"